{% extends "layout.html" %}

{% block title %}
register
{% endblock %}

{% block body %}
<h1>REGISTER</h1>
<form action="{{ url_for('register') }}"  method="POST">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="username" placeholder="Your username">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email"  name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword2">Confirm Password</label>
        <input type="password" name="confirmpassword" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endblock %}